@charset "UTF-8";
#head_sub h2 span span { color:transparent !important; text-indent: 0 !important; line-height: 25px; position:relative }
#head_sub h2 span span.is_completed { color:#000 !important }
#head_sub h2 span span.logo_binding { position: relative; top:5px; color:transparent !important; font-size:0; text-indent:-9999 }
.cont_minheight { min-height:350px }
.full_area { margin-bottom:20px; position:relative; }
.smcCateContainer { display:none }

.swipe_wrap { position:relative }
.full_area .arrow_side {
    display:block;
    position:absolute;
    width:44px;
    height:44px;
    background:url('http://image.lotte.com/lotte/mo2017/product/ic_elem_prod.png') no-repeat;
    background-size: 254px auto;
    top:50%;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity:.3;

    display: none;
}
.full_area .arrow_side.prev { left:0px; background-position: -154px -155px; }
.full_area .arrow_side.next { right:0px; background-position: -204px -155px; }
.swp_page_wrap { text-align: center; font-size:12px; color:#fff; position: absolute; width:100%; bottom:0px }
.swp_page_wrap b { font-size:13px }
.swp_page_wrap.more { background:rgba(0,0,0,.47); vertical-align: middle; text-align: inherit }
.swp_page_wrap .table { display:table; width:100%; height:32px;  }
.swp_page_wrap .table .cell { display:table-cell; vertical-align: middle }
.swp_page_wrap .table .cell:after { content:""; display:block; clear:both }
.swp_page_wrap .left { float:left; margin-left:16px }
.swp_page_wrap .right { float:right; font-size:13px; margin-right:16px }
.swp_page_wrap .swp_page {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:rgba(0,0,0,.47);
    height:32px;
    width:84px;
    margin:0 auto;
}
.swp_page_wrap .side { width:120px }
.swp_page_wrap em { font-size:13px }
.swp_page_wrap span { display:inline-block }
.swp_page_wrap .right em { }
.swp_page_wrap .right em:after {
    content: "";
    position: relative;
    display: inline-block;
    margin-left: 3px;
    width: 7px;
    height: 7px;
    top: 0px;
    line-height: 0;
    font-size: 0;
    font-weight: 400;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.paging_font { font-size:12px }

@media screen and ( min-width:640px ){
    .swipe_wrap { margin:0 44px 20px; overflow:hidden; }
    .full_area .arrow_side { display:block }
}

#head_sub h2 > span:first-child { vertical-align: top !important; position: relative }
#head_sub h2 > span span {
    position:absolute !important;
    left:50% !important;
    top:50% !important;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}