<section ng-show="contVisible" class="cont_minheight">
    <spec-mall-cate type="main"></spec-mall-cate>
    <div class="full_area" ng-if="bindData.banners.items.length">
        <div class="swipe_wrap" ng-init="swipeData=bindData.banners.items">
            <ul hw-swipe
                swipe-controller="swpCtrl"
                swipe-index="swpIndex"
                swipe-total="swpTotal">
                <li ng-repeat="item in swipeData" ng-click="ptrLink(item.linkUrl)">
                    <img ng-src="{{item.imgUrl}}" alt=""/>
                </li>
            </ul>
            <div class="swp_page_wrap" ng-class="{more:bindData.related_prd>1}">
                <div class="table w100" ng-if="bindData.related_prd>1">
                    <div class="cell clear">
                        <div class="left paging_font">
                            <em><b>{{swpIndex+1}}</b>/{{swpTotal}}</em> 페이지
                        </div>
                        <div class="right">
                            <em ng-click="goProduct()">연관상품 보러가기</em>
                        </div>
                    </div>
                </div>
                <div class="swp_page table" ng-if="bindData.related_prd<2">
                    <span class="cell paging_font">
                        <em><b>{{swpIndex+1}}</b>/{{swipeData.length}}</em> 페이지
                    </span>
                </div>
            </div>
        </div>
        <a class="arrow_side prev" ng-click="swpCtrl('prev')"></a>
        <a class="arrow_side next" ng-click="swpCtrl('next')"></a>
    </div>
</section>