@charset "UTF-8";

.planshop_list_wrap { margin:11px 3px }
.planshop_list_wrap.single { margin:11px 0px }
.planshop_list_wrap .swiper { position:relative; margin-right: 100px }
.planshop_list_wrap.single .swiper { margin-right:0px }
.planshop_list_wrap .swiper > ul { position:relative }
.planshop_list_wrap .swiper > ul > li{ position:relative }
.planshop_list_wrap .swiper > ul > li .btn_list_more {
    display: block;
    width: 100px;
    height: 100%;
    position: absolute;
    right: -100px;
    top: 0;
    text-align: center;
    z-index:3;
}
.planshop_list_wrap .swiper > ul > li .more_active_button {
    position: absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    text-align: center;
    color:#7291cf;
    font-size:15px;
    letter-spacing: -1px;
}
.planshop_list_wrap .swiper > ul > li .more_active_button:before{
    content:"";
    width: 42px;
    height: 42px;
    display: inline-block;
    background: url(http://image.lotte.com/lotte/mo2017/main/ic_more.png) no-repeat;
    background-size: 42px;
    border-radius: 50%;
    background-color: #98ADD9!important;
    text-align: center;
}
.planshop_list_wrap .swiper > ul > li.more .btn_list_more { display:block }
.planshop_list_wrap .search_planshop_swipe_unit { margin:0 3px; background: #fff }
.planshop_list_wrap.single .search_planshop_swipe_unit { margin:0 0px }
.planshop_list_wrap .search_planshop_swipe_unit .goods_info { padding:14px; border-top:1px solid #eaeaea; border-bottom:1px solid #e0e0e0 }
.planshop_list_wrap .search_planshop_swipe_unit .info_detail { display: table }
.planshop_list_wrap .search_planshop_swipe_unit .info_detail span { display:table-cell; vertical-align: middle }
.planshop_list_wrap .search_planshop_swipe_unit figure { text-align:center; position:relative; height:130px; overflow:hidden }
.planshop_list_wrap .search_planshop_swipe_unit figure img { height:100%; width:auto }
.planshop_list_wrap .search_planshop_swipe_unit .goods_name {
    display:block;
    font-size:14px;
    line-height: 18px;
    height:20px;
    overflow:hidden;
    font-weight: 400;
    color:#333;
}
.planshop_list_wrap .search_planshop_swipe_unit .info_detail .goods_price { display:table; font-size:20px; color:#333 }
.planshop_list_wrap .search_planshop_swipe_unit .goods_price:after {
    content:"원";
    display:table-cell;
    vertical-align: middle;
    font-size:15px;
    color:#575368;
    margin-left:-6px;
    position: relative;
    top:1px;
}
.planshop_list_wrap .search_planshop_swipe_unit .flags {
    height:23px;
    overflow:hidden;
    position:absolute;
    bottom:-12px;
    left:0;
    margin:0 14px;
    display:block;
}
.planshop_list_wrap .search_planshop_swipe_unit .flags .flag { font-size:11px; letter-spacing: -1px; float:left; margin-right:2px }
.planshop_list_wrap .search_planshop_swipe_unit .flags .flag.smart { font-size:0; color:transparent; width:15px !important; background-color:#fff; }
.planshop_list_wrap .search_planshop_swipe_unit .flags:after{
    content:"";
    display:block;
    clear:both;
}
.planshop_list_wrap .search_planshop_swipe_unit .flags span.flag { padding:0 3px !important }
.planshop_list_wrap .search_planshop_swipe_unit .promotion_flag { margin-left:-3px }
.planshop_list_wrap .search_planshop_swipe_unit .image { display:block; position:relative }

.planshop_list_wrap .search_planshop_swipe_unit .flags .flag.gift_package { border-color:#e096c4 !important; background-color:#e096c4 !important }
.planshop_list_wrap .search_planshop_swipe_unit .flags .flag.qk_free { border-color:#7ba7e0 !important; background-color:#7ba7e0 !important}
.planshop_list_wrap .search_planshop_swipe_unit .flags .flag.normal {  font-size: 12px;
    line-height: 18px !important;
    height: 18px !important;
    margin-bottom: 4px;
    display: inline-block;
    padding: 0 4px;
    border: 1px solid #ddd;
    color: #333;
    text-align: center;
    background: #fff;
}
.planshop_list_wrap .search_planshop_swipe_unit span.flag, p.flag span, .titBrandShop { height:21px !important; line-height:21px !important  }
.planshop_list_wrap .search_planshop_swipe_unit .flags span:nth-child(n+6) { display:none }

/* L.Point 플래그 */
.planshop_list_wrap .search_planshop_swipe_unit .lpoint_icon { width:50px; height:50px; z-index: 2 }

/* 명절 플래그 */
.planshop_list_wrap .search_planshop_swipe_unit .floating_flags { position:absolute; left:0; top:0 }
.planshop_list_wrap .search_planshop_swipe_unit .floating_flags span { display:inline-block; vertical-align:top; position:relative; margin:10px 0px 10px 10px; }
.planshop_list_wrap .search_planshop_swipe_unit .holiday_flag,
.planshop_list_wrap .search_planshop_swipe_unit .holiday_rank{
    background:url(http://image.lotte.com/lotte/mo2015/angular/mall/holiday/spr_holiday_template_20160104.png) no-repeat 0 -215px;
    background-size:250px 340px;
    font-size:0;
    line-height:0;
    z-index:1;
    text-indent:100%;
    overflow:hidden;
    position:relative;
    display:inline-block;
}
.planshop_list_wrap .search_planshop_swipe_unit .holiday_flag{width:62px;height:60px;}
.planshop_prod_list_indicator {
    display:table;
    text-align: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color:#acb5b2;
    color:#fff;
    fotn-size:14px;
    bottom:9px;
    right:10px;
    position:absolute;
}
.planshop_prod_list_indicator span { display:table-cell; vertical-align: middle; padding: 1px 8px; letter-spacing: 1px }

@media screen and ( min-width:640px ) {
    .planshop_list_wrap .search_planshop_swipe_unit figure { height:180px }
}
@media screen and ( min-width:720px ) {
    .planshop_list_wrap .search_planshop_swipe_unit figure { height:230px }
}
@media screen and ( min-width:900px ) {
    .planshop_list_wrap .search_planshop_swipe_unit figure { height:300px }
}
@media screen and ( min-width:1000px ) {
    .planshop_list_wrap .search_planshop_swipe_unit figure { height:330px }
}
@media screen and ( min-width:1200px ) {
    .planshop_list_wrap .search_planshop_swipe_unit figure { height:430px }
}