<div
  ng-if='alias.newProduct.data&&alias.newProduct.data.length'
  ng-repeat='items in alias.newProduct.data'
  class='weekly_new items_block auto_data product_list newProduct_type_0{{$index}}'>
  <h5
    class='bg_white'
    ng-click="randingURL(alias.newProduct.title.link_url,'')"
    ng-bind-html="(items.text.img_url?'<img ng-src=items.text.img_url/>':null)||items.text.banner_nm">
  </h5>
  <div class='item_list'>
    <div
      class='item_group'
      lotte-ng-list-swipe
      swipe-slide-item="true"
      swipe-list-model="items.goods_list"
      swipe-disp-count="3"
      swipe-max-ratio="0.2"
      swipe-min-distance="40">
      <ul class='mask swipeBox'>
        <li ng-repeat="item in items.goods_list" ng-init="tcnt=($index+1)<10?'0'+($index+1):($index+1)">
          <div class='item_content_inner' ng-click="randingURL(item.link_url,'m_EL_main_SpeDisp-{{tclickCode}}_Clk_Prd1_N{{tcnt}}',{curDispNo:tclickCode})">
            <figure>
              <img ng-src="{{item.img_url}}"/>
            </figure>
            <div class='item_body'>
              <!--p>{{item.brnd_nm}}</p-->
              <span>{{item.goods_nm}}</span>
            </div>
            <div class='item_foot'>
              <em class='discount_color' ng-class='{kwon:item.original_price}'>{{item.original_price|number}}</em>
              <span class='kwon price_color'>{{(item.discounted_price|number)||item.price2}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!--//item_group-->
  </div>
  <!--//item_list-->
</div>
