button:focus, textarea:focus, input:focus{
    outline: none;
}
#head_sub { border-top:0 !important }
/*category*/
.ksCA{ width:100%;overflow:hidden;position:relative; border-top:1px solid #525252 }
.ksCA .ksMenuBox{white-space:nowrap;position:relative;display:table;padding:0 4px;}
.ksCA .ksMenuBox.two,
.ksCA .ksMenuBox.three,
.ksCA .ksMenuBox.four{display:block;width:100%}
.ksCA .ksMenuBox.two li,
.ksCA .ksMenuBox.three li,
.ksCA .ksMenuBox.four li{display:block;float:left;text-align:center;padding:0;}
.ksCA .ksMenuBox.two li{width:50%;}
.ksCA .ksMenuBox.three li{width:33.3%;}
.ksCA .ksMenuBox.four li{width:25%;}
.ksCA .ksMenuBox li{ display:table-cell; position:relative;height:45px; border:none; outline:none; /*background-color:#2b2b2b; */ }
.ksCA .ksMenuBox li span{display:inline-block;padding:0 15px;height:45px;font-size:14px;height:45px;line-height:45px;color:#fdfdfd;-webkit-apperence:none;background:none;}
.ksCA .ksMenuBox li.on span{color:#b56696;background:#3b3b3b}
.ksCA .sideBar{position:absolute;bottom:0;width:100%;height:40px;pointer-events: none;display:block}
.ksCA .sideBar.none{display:none;}
.ksCA .sideBar img{width:39px;opacity:0;}
.ksCA .sideBar img.on{opacity:1;transition:opacity 300ms;-webkit-transition:opacity 300ms;}
.ksCA .sideBar img.right{position:absolute;top:0;right:0}
.ksCB{position:relative;background:#393939;}
.ksCB{display:none}
.elshop_cate_bg_container { background:#2b2b2b }
.elshop_category_list .mall_cateLayerbar { position:relative; margin:0; padding:5px; height:24px; }
.elshop_category_list .mall_cateLayerbar .close { position:relative !important; margin-top:5px; }
.big_cate_all .open_btn:after
{font-size: 0; text-indent: -999em; color: transparent;background: url(http://image.lotte.com/lotte/mo2015/angular/common/spr_specialty_brand_common.png) no-repeat 0 0;
-webkit-background-size: 175px 125px;
background-size: 175px 125px;
}
.cateArea{position:relative}
.big_cate_all button{background:none;border:0 none;padding:0;margin:0;-webkit-appearance:none;appearance:none;border:0 none;background:transparent;line-height:18px;}
.big_cate_all:before{content: ''; display: none;border-top: 1px solid #656565; margin-right:45px }
.big_cate_all ul {overflow:hidden;background-color:#5c5c5c}
.big_cate_all .scroll{height:276px;overflow-y:auto;}
.big_cate_all ul{max-height:276px;overflow-y:auto;}
.big_cate_all li{float:left;width:50%;height:41px;border-bottom:1px solid #535353;line-height:41px;background-color:#5c5c5c;}
.big_cate_all li span{height:42px;line-height:44px;padding-left:25px;background-color:#5c5c5c;color:#fff;}
.big_cate_all li.on a{color: #719cff}
.big_cate_all.on:before,
.big_cate_all.on ul{display: block;}
.big_cate_all .open_btn {position: absolute;top: 0;right: 0;display: block;width: 45px;height: 46px;border-left: 1px solid #656565;opacity: 0.8;font-size: 0;background-color: #454545;color: transparent;}
.big_cate_all .open_btn:after{content: ''; clear: both; position: absolute; top:14px; left:14px; width: 18px; height: 18px; background-position: -75px -50px;}
.big_cate_all .open_btn.on:after{background-position:-100px -50px;}
.big_cate_all .open_btn.on+ul{display: block;}

.sub_depth.depth3 a,
.sub_depth.depth3 a span { display:block }
.sub_depth.depth3 ul { background:#2b2b2b }
.sub_depth.depth3 li { float:left; -webkit-box-sizing: border-box; box-sizing: border-box; width:50% }
.sub_depth.depth3 li:first-child { float:none; width:100% }
.sub_depth.depth3 li.block_wide { width:100% }
.sub_depth.depth3 li a { padding:10px 0px 10px 10px; letter-spacing: -1px; color:#737373 !important; }
.sub_depth.depth3 li { border-bottom:1px solid #262626 }
.shop_cat_sub { color:#fff }
.sub_cat_list_container { max-height:200px; overflow-y: scroll }

.sub_cat_list_container { background: #3b3b3b; }
.shop_cat_sub .sub_depth { display:table; width:100%; border-bottom:1px solid #404040  }
.shop_cat_sub .sub_depth nav { display:table-cell; }
.shop_cat_sub .cat_button a { position: relative; color:#b4b4b4 !important; text-decoration: none; display:block; padding:10px 0 }
.shop_cat_sub a div { padding-left:10px; }
.shop_cat_sub var { font-style:normal; letter-spacing: -1px }
.shop_cat_sub nav { position:relative; -webkit-box-sizing: border-box; box-sizing: border-box; float:left; width:50% }
/* .shop_cat_sub .sub_list:nth-child(2n+1) { border-right:1px solid #353434; } */
.shop_cat_sub .sub_list:nth-child(2n+0) { border-left:1px solid #404040; }
.shop_cat_sub .sub_list .cat_button.useSub.bleat:before { content:""; position:absolute; width:20px; height:12px; right:10px; top:13px; background:url("http://image.lotte.com/ellotte/mo2015/angular/mall/ralph/ellbrand_shop_cat_bleat.png") no-repeat center -1px; background-size:18px auto }
.shop_cat_sub .sub_list .cat_button.useSub.active.bleat:before { background-position:center -14px;  }
.shop_cat_sub .sub_list .cat_button.useSub.active a { color:#b56696; }
.mall_cateLayerbar { padding:7px 0; text-align: right; line-height: 0; }
.mall_cateLayerbar a.close {  background-image: url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/brandshop_catemenu.png); background-repeat: no-repeat; background-size: 26px 155px; }
.mall_cateLayerbar a.close { display: inline-block; margin-right: 15px;  width: 14px; height: 14px; font-size: 0; background-position: 0 -141px; position: relative; top:-2px }

.elshop_cate_bg_container {  }
#head_sub h2 { background:none }
.specmall_product #head_sub { background:#2b2b2b }

#head_sub .prev a:before  {content: "";background: url(http://image.lotte.com/ellotte/mo2015/angular/common/btn_back_w.png) no-repeat center left !important; background-size: 19px 14px !important }
.overlay #head_sub .prev a:before  {content: "";background: url(http://image.lotte.com/lotte/mo2015/angular/common/btn_white_w.png) no-repeat center left !important; background-size: 19px 14px !important }
.overlay #head_sub .this a:before { }

.shop_cat_sub .sub_list .cat_button.useSub.bleat:before { background: url(http://image.lotte.com/ellotte/mo2015/angular/mall/ralph/ellbrand_shop_cat_bleat2.png) center -1px no-repeat; background-size: 18px auto;}
.overlay .shop_cat_sub .sub_list .cat_button.useSub.bleat:before { background: url(http://image.lotte.com/ellotte/mo2015/angular/mall/ralph/ellbrand_shop_cat_bleat.png) center -1px no-repeat; background-size: 18px auto;}
.shop_cat_sub .sub_list .cat_button.useSub.active.bleat:before,
.overlay .shop_cat_sub .sub_list .cat_button.useSub.active.bleat:before { background-position: center -14px }

#head_sub .this a:before {
    background: url(http://image.lotte.com/lotte/mo2015/angular/common/ic_sns.png) no-repeat 0 0 !important;
    background-size: 15px 16px !important;
}
.overlay #head_sub .this a:before {
    background: url(http://image.lotte.com/lotte/mo2015/angular/common/ic_sns_white.png) no-repeat 0 0 !important;
    background-size: 15px 16px !important;
}

.ksCA { border-top:1px solid rgba(0,0,0,.3) !important }
.overlay .ksCA { border-top:1px solid rgba(255,255,255,.3) !important }
.shop_cat_sub .sub_depth, .shop_cat_sub .sub_list:nth-child(2n+0) {
    border-color:rgba(0,0,0,.15) !important;
}
.overlay .shop_cat_sub .sub_depth, .overlay .shop_cat_sub .sub_list:nth-child(2n+0) {
    border-color:rgba(255,255,255,.15) !important;
}
.overlay .shop_cat_sub .sub_list:nth-child(2n+0), .overlay .shop_cat_sub .sub_depth, .overlay .sub_depth.depth3 li {
    border-color:rgba(255,255,255,.15) !important;
}

.sub_depth.depth3 li { border-top:1px solid #262626 !important; border-bottom:0 !important }
.sub_depth.depth3 li:first-child { border-top:0px !important }
