<div class="product_wrap">
    <div class="store_live_product_sort">
        <span
            ng-repeat="item in storeliveData.alignOptoins"
            ng-class="{active:item.value==storeliveData.sort}"
            ng-click="sortChange($index)">
            {{item.name}}
        </span>
        <em ng-click="showHepl()" ng-class="{active:showHepl_state}"></em><!-- 도움말 아이콘 -->
        <div class="whats_best" ng-class="{active:showHepl_state}">
            <div class="wb_inner">
                <h6>인기순이란?</h6>
                <p>
                    최근 7일동안 많이 조회된 상품을 점수화 하여
                    상품을 정렬합니다.
                </p>
                <a class="wb_close" ng-click="showHepl()"></a>
            </div>
        </div>
    </div>

    <!-- 상품목록 -->
    <div class="product_list_unit_container">
        <div class="tmpl_product_store_live align_vertical" ng-if="storeliveData.goods_list.length">
            <ol class="tmpl_store_live_sub_product uint_custom_style"
                hw-pinter-rest
                reload="true"
                resize="true"
                puzzle="true">
                <li
                    ng-repeat="item in storeliveData.goods_list track by $index"
                    ng-class="{cate:item.cateflag}"
                    class="el_sl_unit_product_img">
                    <div class="storelive_sub_unit_contianer" ng-if="item.disp_type=='elliv_goods'">
                        <figure ng-click="publicLinkFunc(item.elliv_goods,item.disp_type,$index)">
                            <img n="{{$index}}"
                                 onload="angular.element(this).scope().imgonloaded(this);"
                                 ng-src="{{item.elliv_goods.conts_file_path_nm}}"
                                 alt="{{item.elliv_goods.goods_nm}}"/>
                            <span class="best_flag" ng-if="item.elliv_goods.best_yn=='Y'">best</span>
                        </figure>
                        <div class="sls_content">
                            <div class="sls_content_inner">
                                <div class="sls_price table w" ng-click="publicLinkFunc(item.elliv_goods,item.disp_type,$index)">
                                    <span class="cell buy_price f18 b">
                                        {{(item.elliv_goods.disc_sale_prc||item.elliv_goods.org_sale_prc) | number }}
                                    </span>
                                        <span class="cell discount f18 f_violet b" ng-if="item.elliv_goods.sale_rate">
                                        {{item.elliv_goods.sale_rate}}
                                   </span>
                                </div>
                                <div class="sls_good_info table w">
                                    <span class="cell subject" ng-click="publicLinkFunc(item.elliv_goods,item.disp_type,$index)">
                                       <em>{{item.elliv_goods.goods_nm}}</em>
                                    </span>
                                    <span class="cell goods_wish"
                                          ng-class="{active:item.elliv_goods.has_wish}"
                                          ng-if="!item.elliv_goods.shop_aemp_txt_cont"
                                          store-wish-item>
                                       <i ng-if="item.elliv_goods.goods_no&&!item.elliv_goods.is_sold_out" class="ic_wish" ng-click="addStoreGdoosWish(item.elliv_goods,$index)"></i>
                                    </span>
                                </div>
                                <div class="sls_good_info table w master_comment"
                                     ng-if="item.elliv_goods.shop_aemp_txt_cont">
                                    <span class="cell subject" ng-click="publicLinkFunc(item.elliv_goods,item.disp_type,$index)">
                                       <em class="">
                                           {{item.elliv_goods.shop_aemp_txt_cont}}
                                       </em>
                                    </span>
                                    <span class="cell goods_wish" ng-if="item.elliv_goods.goods_no&&!item.elliv_goods.is_sold_out"
                                          ng-class="{active:item.elliv_goods.has_wish}"
                                          store-wish-item>
                                       <i class="ic_wish" ng-click="addStoreGdoosWish(item.elliv_goods,$index)"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>

        <div class="prd_loading" ng-if="storeliveData.loading">
            <span class="loading half"></span>
        </div>

        <div class="product_no_data" ng-if="!storelivePageLoading&&!storeliveData.goods_list.length&&!storeliveData.loading&&storeliveData.page!=0">
            <p>상품 목록이 없습니다.</p>
        </div>

    </div>

</div>