<!-- main visual -->
<div ng-if="alias.topBann.data.length">
    <div
      class="visual"
      ng-init="swipeBanner=alias.topBann.data;bnnType=alias.topBann.type"
      roll-swipe-banner
      interval="3000"
      swipe-id="kshopSwipe"
      info="swipeBanner"
      getcontrol="topBann.setControl"
      endfnc="alias.topBann.endFunc"
      rolling="true"
      width320="1"
      width640="1"
      width900="1">

        <ul class='mask swipeBox'>
            <li
              ng-repeat="banner in swipeBanner"
              ng-init="tcnt=($index+1)<10?'0'+($index+1):($index+1)"
              ng-click="randingURL(banner.img.link_url, 'm_EL_main_SpeDisp-{{tclickCode}}_Swp_Ban_idx{{tcnt}}',{curDispNo:tclickCode});">
                <span class='imgCnt'><img ng-src="{{banner.img.img_url}}" alt="{{banner.img.alt_cont}}" /></span>
                <span
                  class='content bnn_type_{{bnnType}}'
                  ng-if="banner.img.conts_desc_cont&&banner.img.alt_cont">
                  <p>{{banner.img.conts_desc_cont}}</p>
                  <span
                    class='slogan'
                    ng-bind-html="banner.img.alt_cont"></span>
                </span>
            </li>
        </ul>
        <ul
          class="swipe_indicator bnn_type_{{bnnType}}">
            <li
              ng-repeat="slide in swipeBanner"
              ng-class="{active:$index==alias.topBann.swipeIndex}"
              ng-click="alias.topBann.swipeIndex = $index">
           </li>
        </ul>
        <span class='more bnn_type_{{bnnType}}' ng-click="brandIsAll(true)">
          모두보기<em>+</em>
        </span>

        <!--span class='side_control_btn is_prev'></span>
        <span class='side_control_btn is_next'></span-->
    </div>

    <div class='mainTopBannerAll' ng-if="topBannAllshows">
      <h2 class=''>
        모두보기
        <a ng-click="brandIsAll(false)"></a>
      </h2>
      <div
        class='visual'
        ng-init="bnnType=alias.topBann.type">
        <ul class='mask'>
            <li
              ng-repeat="banner in alias.topBann.data"
              ng-init="tcnt=($index+1)<10?'0'+($index+1):($index+1)" ng-click="randingURL(banner.img.link_url, 'm_EL_main_SpeDisp-{{tclickCode}}_Swp_Ban_idx{{tcnt}}',{curDispNo:tclickCode});">
                <a> <img ng-src="{{banner.img.img_url}}" alt="{{banner.img.alt_cont}}" /> </a>
                <div
                  class='content bnn_type_{{bnnType}}'
                  ng-if="banner.img.conts_desc_cont&&banner.img.alt_cont">
                  <p>{{banner.img.conts_desc_cont}}</p>
                  <div
                    class='slogan'
                    ng-bind-html="banner.img.alt_cont"></div>
                </div>
            </li>
        </ul>
      </div>
    </div>

  </div>
    <!-- //main visual -->
