@charset "UTF-8";

.header_bg { position:relative; height:140px; overflow:hidden; background-size:100% auto!important; background-position: center center !important  }
.header_bg:after { content:""; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.6) }

.store_live_talk_contact { padding:0 14px 20px 14px; background:#fff; }
.store_live_talk_contact .table { width:100% }
.store_live_talk_contact .cell { vertical-align: middle }
.store_live_talk_contact .bg { padding:10px; background:#f1f1f1 }
.store_live_talk_contact .kakao_img { width:60px; text-align: center }
.store_live_talk_contact .kakao_img img { width:90%; height:auto; vertical-align: middle; }
.store_live_talk_contact .arrow { width:20px; text-align: center; }
.store_live_talk_contact .arrow img { width:10px; vertical-align: middle; }
.store_live_talk_contact .content { padding:0 10px }
.store_live_talk_contact .content h3 { margin-top:-3px }
.store_live_talk_contact .content p { color:#787878}

.brand_floating_icon { position:absolute; z-index:31; right:10px; top:10px; width:24px }
.manager_profile { position:relative; text-align: center; }
.manager_profile figure {
    width:105px;
    height:105px;
    position:absolute;
    display:inline-block;
    background-size:100% auto !important;
    background-position:center center !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left:50%;
    bottom:-22px;

    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
.manager_profile figure span {
    width: 34px;
    height: 34px;
    border: 1px solid #d2d2d2;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    background: #fff;

    right:-10px;
    top:5px;
}
.store_live_brand_head { background:#fff }
.store_live_brand_head .fan { padding:20px 0 10px 0 }
.store_live_brand_head .fan em { color:#820c58; }
.store_live_sub .wish:after { width:18px; height:16px }
.store_sub_shop_info { border-top:0; margin:0; padding-top:8px }


#head_sub h2 span span { color:transparent }

.noManager { height:20px }