@charset "utf-8";

/*
    백화점 라이브 ( Store Live )
    브랜드 리스트
    @author : 박해원
    @date : 20170921
*/

.storelive_brand_list_layer_wrap {
    position:fixed;
    left:100%;
    top:0;
    right:0;
    bottom:50px;
    z-index: 100;
}
store-live-brand-list.active .storelive_brand_list_layer_wrap { left:0 }

.storelive_brand_list_layer_wrap .background_layer {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    -webkit-opacity:0;
    opacity:0;
}
.storelive_brand_list {
    position: absolute;
    right:0;
    top:0;
    width:85%;
    max-width:350px;
    height:100%;

    -webkit-transition:-webkit-transform ease .4s;
    -moz-transition:-moz-transform ease .4s;
    -o-transition:-o-transform ease .4s;
    -ms-transition:-ms-transform ease .4s;
    transition:transform ease .4s;

    -webkit-transform:translateX( 100% );
    -moz-transform:translateX( 100% );
    -o-transform:translateX( 100% );
    -ms-transform:translateX( 100% );
    transform:translateX( 100% );
}
.storelive_brand_list.active {
    -webkit-transform:translateX( 0% );
    -moz-transform:translateX( 0% );
    -o-transform:translateX( 0% );
    -ms-transform:translateX( 0% );
    transform:translateX( 0% );
}
.storelive_brand_list_layer_wrap .background_layer {
    -webkit-transition:-webkit-opacity ease .4s;
    -moz-transition:-moz-opacity ease .4s;
    -o-transition:-o-opacity ease .4s;
    -ms-transition:-ms-opacity ease .4s;
    transition:-webkit-opacity ease .4s;
}

store-live-brand-list.active .storelive_brand_list_layer_wrap .background_layer.active {
    -webkit-opacity:1; opacity:1;
}
.storelive_brand_header { position:relative; background:#1f1f1f; }
.storelive_brand_header,
.storelive_brand_header .table { height:43px }
.storelive_brand_header .table { width:100%;  display: table; vertical-align: middle }
.storelive_brand_header .table h5 { color:#fff; text-align:center; font-size:17px; display:table-cell; vertical-align: middle }
.storelive_brand_header .table h5 span {
    display:inline-block;
    background:url('http://image.lotte.com/ellotte/mo2015/angular/mall/store_live_icon_brand_float_bleat.png') center center no-repeat;
    background-size:90% auto;
    width:27px;
    height:43px;
}
.storelive_brand_header .table span,
.storelive_brand_header .table em { vertical-align: middle }
.store_live_brand_list_wrap { background:#fff; position:absolute; top:43px; left:0; right:0; bottom:0 }
.store_live_brand_list_inner { padding:17px; border-bottom:1px solid #d8d8de; }
.store_live_brand_list_wrap .brand_layer_title { font-weight:600; font-size:14px; color:#8E2B62; display:block; }
.store_live_brand_list_wrap .brand_areas { padding:15px 10px 0 10px }
.store_live_brand_list_wrap .brand_areas span { display:inline-block; padding:4px 10px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    font-size:13px;
    color:#666;
    margin:5px 3px;
    border:1px solid #e7e7e7;
}
.store_live_brand_list_head .brand_areas span.active { font-weight:600; color:#000; border-color:#7a7a7a }
.brand_list_scroll_wrap {
    position: absolute;
    width:100%;
    height:100%;
    overflow-y:scroll;
}
.store_live_brand_list_contents .store_live_brand_list_inner { border:0 }
.store_live_brand_list_contents .store_live_brand_list_inner li { color:#666; display:block; margin:24px 0 }
.store_live_brand_list_contents .store_live_brand_list_inner li.active {
    font-weight: 600;
    color: #000;
    text-decoration: underline;
}
.items.brand_areas { padding-top:0 }

.storelive_brand_header .brand_list_close {
    display: block;
    background: #000 url('http://image.lotte.com/ellotte/mo2015/angular/mall/btn_brand_close.png') center center no-repeat;
    background-size:100% auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    width:30px;
    height:30px;
    position:absolute;
    left:-35px;

    top:50%;
    -webit-transform:translate(200%,-50%);
    -moz-transform:translate(200%,-50%);
    -o-transform:translate(200%,-50%);
    -ms-transform:translate(200%,-50%) ;
    transform:translate(200%,-50%);

    opacity:0;

    -webkit-transition:all ease .4s;
    -moz-transition:all ease .4s;
    -o-transition:all ease .4s;
    -ms-transition:all ease .4s;
    transition:all ease .4s;
}
.storelive_brand_header .brand_list_close.active {
    -webit-transform:translate(0,-50%) ;
    -moz-transform:translate(0,-50%);
    -o-transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    transform:translate(0,-50%);
    opacity:1;
}

.noScroll {
    width:100% !important;
    height:100% !important;
    overflow:hidden !important;
}

@keyframes flip {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) translate3d(0, 0, 110px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(400px) translate3d(0, 0, 110px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) scale3d(.95, .95, .95);
        animation-timing-function: ease-in;
    }
    to {
        transform: perspective(400px);
        animation-timing-function: ease-in;
    }
}

.animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: flip;
}
