<div class="store_live_talk_contact" ng-if="shop_detail.sns_shop_url_addr">
    <div class="bg">
        <div class="table" ng-click="csTalk()">
            <div class="cell kakao_img">
                <img ng-src="http://image.lotte.com/ellotte/mo2015/angular/mall/kakao_talk_icon_big.png" alt=""/>
            </div>
            <div class="cell content">
                <h3>톡 상담</h3>
                <p>
                    카카오 플러스 친구 맺고 <br>
                    매장 피팅예약 서비스를 이용하세요.
                </p>
            </div>
            <div class="cell arrow">
                <img ng-src="http://image.lotte.com/ellotte/mo2015/angular/mall/store_live_icon_arrow.png" at=""/>
            </div>
        </div>
    </div>
</div>