<div ng-if='alias.specialStory.data&&alias.specialStory.data.length'>
	<div
		class='hot_newProdict special_story items_block bg_white'
		ng-repeat='group in alias.specialStory.data'>
		<h5
		 		class='bg_white'
		  	ng-click="randingURL(group.text.link_url,'',{curDispNo:tclickCode})"
		  	ng-bind-html="(group.text.img_url?'<img ng-src=group.text.img_url/>':null)||group.text.banner_nm">
		 </h5>
		<div class='item_list'>
			<ul class='clear'>
			  <li ng-repeat="item in group.goods_list" ng-init="tcnt=($index+1)<10?'0'+($index+1):($index+1)">
				  <div
						class='item_content_inner cursor-hand'
						ng-click="randingURL(item.link_url,'m_EL_main_SpeDisp-{{tclickCode}}_Clk_Prd_G{{tcnt}}',{curDispNo:tclickCode})">
						<figure>
							<img ng-src="{{item.img_url}}"/>
					 	</figure>
	        	<div class='item_body'>
	          	<span>[{{item.brnd_nm}}]{{item.goods_nm}}</span>
	        	</div>
	        	<div class='item_foot'>
	         		<em class='discount_color v_bottom disp_in_block' ng-class='{kwon:item.original_price}'>{{item.original_price?(item.original_price|number):""}}</em>
	          	<span class='kwon price_color v_bottom disp_in_block' ng-class='{promotionDealItem:item.is_sale_promotion}'>{{(item.discounted_price|number)||item.price2}}</span>
						<div class='recom '>
							<span class='disp_in_block v_middle star_container is_star'>
								<u class='disp_in_block is_star on' style="width:{{((item.avg_gdas_stfd_val||0)/5*100)}}%"></u>
							</span>
							({{item.review_count}})
						</div>
	        	</div>
				  </div>
			  </li>
			</ul>
		</div>
	</div>
</div>
