<!-- planShop -->
<div
  class='planShop items_block'
  ng-if="alias.planShop.data&&alias.planShop.data.length">
  <div class='swipeContainer t_center'>
    <ul class='mask swipeBox clear'>
      <li ng-repeat='item in alias.planShop.data' class='clear'>
          <div
            class='swipe_inner_cont cursor-hand'
            ng-click="randingURL(item.text.link_url,'m_EL_main_SpeDisp-{{tclickCode}}_Clk_Lnk{{$index+1}}',{curDispNo:tclickCode})">
              <figure class='disp_block'>
                <img ng-src='{{item.text.img_url}}' alt='{{item.text.img_note}}'>
              </figure>
              <div class='cont'>
                <p>{{item.text.img_note}}</p>
                <span class='disp_block' ng-bind-html="item.text.note_cont">
                </span>
              </div>
          </div>
      </li>
    </ul>
  </div>
</div>
