<section
  class='elshop_spec_mall curIsSub cont_minheight'
  ng-show="contVisible">

  <!-- linemap -->
  <div line-map class='linemap'>
    <div class='table'>
        <div class='cell line_map_arrow' ng-repeat='item in lineMapData'>
            <span
              class='p_rel disp_in_block v_middle'
              ng-class='{arrow:$index==lineMapData.length-1,active:useSubCate.depth1==$index&&item.sub_cate_list,lineActive:lastDispNo==item.disp_no&&!item.sub_cate_list}'
              ng-click='subCatOenState({depth1:$index})'>{{item.disp_nm}}</span>
        </div>
    </div>

    <!-- sub_cat_list -->
    <div class='sub_cat_list' ng-if="lineMapData[useSubCate.depth1].sub_cate_list">
        <ul class='clear' ng-init="parentCatData=lineMapData[useSubCate.depth1]">
          <li ng-repeat="item in lineMapData[useSubCate.depth1].sub_cate_list">
              <a
                ng-init="cnt=$index<10?'0'+$index:$index"
                ng-class='{active:lastDispNo==item.disp_no}'
                ng-click="randingURL(item.link_url,'m_EL_main_SpeDisp-{{tclickCode}}_CateList_Clk_{{acnt}}_{{cnt}}',{upCurDispNo:parentCatData.disp_no,curDispNo:item.disp_no})">{{item.disp_nm}}</a>
          </li>
          <!-- 홀수일경우 -->
          <li ng-if="lineMapData[useSubCate.depth1].sub_cate_list.length%2==1"><a>　</a></li>
        </ul>
        <div class='sub_cat_list_foot t_right'>
            <a ng-click="subCatOenState({depth1:nulll})" class="close disp_in_block">
              닫기 <img ng-src="http://image.lotte.com/lotte/mobile/mobile_new/brandshop/btn_sub_cate_close.png" alt=''>
            </a>
        </div>
    </div>
    <!--//sub_cat_list-->

  </div>
  <!--//linemap-->

  <!-- best item -->
  <div class='best_item_container'>
    <div class='best_item'>
      <h5>BEST ITEM</h5>
      <div
        class='swipeContainer'
        roll-swipe-banner
        swipe-id="bestItem"
        info="alias.bestItem.data"
        getcontrol="alias.bestItem.setControl"
        endfnc="alias.bestItem.endFunc"
        rolling="true"
        width320="1"
        width640="1"
        width900="1">
        <ul class='mask swipeBox'>
          <li ng-repeat='item in alias.bestItem.data'>
            <div class='item_container'>
              <div class='item_inner t_center'>
                <figure class='t_center disp_in_block'>
                  <img ng-src='{{item.img_url}}' alt='{{item.goods_nm}}'/>
                </figure>
                <div class='table per100 item_cont'>
                    <div class='cell coupon t_center v_middle'>
                        <span class='smart_pic' ng-if="item.smartpick_yn=='Y'"></span>
                        <span class='sale_rate' ng-if="item.sale_rate">
                          {{item.sale_rate}}<b>%</b>
                          <em>쿠폰포함</em>
                        </span>
                    </div>
                    <div class='cell item_desc t_left'>
                        <p>{{item.brnd_nm}}</p>
                        <p class='subject'>{{item.goods_nm}}</p>
                        <span class='kwon price_color'>
                            {{(item.discounted_price||item.price2)|number}}
                        </span>
                    </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <nav class='disp_block t_center'>
        <button
          class='disp_in_block btn_control_prev v_middle imgMap_prod_utils'
          ng-click='alias.bestItem.swipeIndex>0?alias.bestItem.swipeControl.moveIndex( alias.bestItem.swipeIndex-1):null'></button>
        <em class='disp_in_block v_middle t_center'>{{alias.bestItem.swipeIndex+1}}/{{alias.bestItem.data.length}}</em>
        <button
          class='disp_in_block btn_control_next v_middle imgMap_prod_utils'
          ng-click='alias.bestItem.swipeIndex<alias.bestItem.data.length-1?alias.bestItem.swipeControl.moveIndex( alias.bestItem.swipeIndex+1 ):null'></button>
      </nav>
      <!--//swipeContainer-->
    </div>
    <!--//best item -->
  </div>
  <!--//best_item_container-->

  <!-- 검색 결과 / -->
	<div class="listWrap" ng-controller="productCtrl"><!-- ng-show="screenData.goodsTotal" -->
		<!-- 스와이프 삭제 -->
		<!-- 검색결과 상품 상단/-->
		<div class="result_tlt">
			<div
        class="result_cnt"
        ng-show="screenData.goodsTotal!=0">전체
        <em> {{screenData.goodsTotal|number}} </em>개
      </div>
			<div class="result_filter">
				<ul>
					<li class='p_rel sort_option' ng-class='{active:pageOptions.sortPopup}' ng-click='sortPopupState()'>
	           <span class='selectSort disp_in_block v_middle'>
               {{pageOptions.sort[pageOptions.sortIndex].sortText}}
             </span>
					</li>
					<!-- 카테고리: 유닛타입 추가 -->
					<li>
						<span
              class="unit_listType type1"
              ng-class="{on:templateType=='list'}"
              ng-show="templateType=='single'"
              ng-click="changeTemplate('list')"></span>
						<span
              class="unit_listType type2"
              ng-class="{on:templateType=='image'}"
              ng-show="templateType=='list'"
              ng-click="changeTemplate('image')"></span>
						<span
              class="unit_listType type3"
              ng-class="{on:templateType=='single'}"
              ng-show="templateType=='image'"
              ng-click="changeTemplate('single')"></span>
					</li>
				</ul>
			</div>
		</div>
		<!-- /검색결과 상품 상단-->

		<!-- s: unit list area -->
		<div class="unitWrap">
		<!-- //상품리스트 유형 선택 -->
			<div
        product-container template-type="list"
        total-count="screenData.goodsTotal"
        templatetype="templateType"
        products="screenData.goodsList"
        more-product-continer="getProductData()"></div>
		</div>
		<!-- e: unit list area -->

	</div>
	<!-- /검색 결과 -->
	<section class="noData" ng-if="screenData.goodsTotal == 0 && ! pageLoading">
		해당하는 상품이 없습니다.
	</section>

  <!-- SORT -->
	<div class="ly_seelct" ng-show="pageOptions.sortPopup">
		<div class="seelct_lst">
			<div class="branch_wrap">
				<ul id="branchLst">
					<li ng-repeat="sortItem in pageOptions.sort" ng-click="sortSelect({{$index}})">
						<label>
                <input
                  type="radio"
                  ng-model="pageOptions.sort[pageOptions.sortIndex].sortcode"
                  name="seelct_lst"
                  value="{{sortItem.sortcode}}"/>{{sortItem.sortText}}
              </label>
					</li>
				</ul>
			</div>
			<div class="btn_wrap">
          <button class="btn_close" ng-click="sortPopupState()">닫기</button>
      </div>
		</div>
	</div>
	<!--//SORT -->

	<div class="listLoading" ng-if="productListLoading">
	   <p class="loading half"></p>
  </div>

</section>
