body #head_sub { border-bottom:0; background:#2b2b2b }

.imgMap_prod_utils { background: url("http://image.lotte.com/lotte/mo2015/angular/common/unit_01.png") no-repeat }
.elshop_spec_mall { background:#fff; }

.best_item_container_wrap { background: #e6e6e6; padding-bottom:10px }


/* linemap */
.linemap { background: #e6e6e6; }
.linemap .linemap_header { padding:10px }
.linemap .table { height:auto }
.linemap .cell { vertical-align: middle; padding:0 5px; }
.linemap .cell > span { letter-spacing: -.5px; padding:5px 0; padding-right:10px; display:block; color:#626262; }
.linemap .cell > span:before { content:">"; font-weight:400; font-family:serif; line-height: 0; position:absolute; margin-top:1px; right:-2px; top:50%; font-size:12px; color:#999; display:inline-block; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%);}
.linemap .cell:last-child > span:before { display:none }
.linemap .in_cat ul { margin-left:5px; padding:5px; background:#fff; border-radius: 4px; border:1px solid #dcdcdc }
.linemap .in_cat ul li { padding:5px 0; border-bottom:1px solid #dcdcdc }
.linemap .in_cat ul li:last-child { border-bottom:0 }
.linemap .sub_cat_list {  }
.linemap .sub_cat_list dl {  margin:0px 10px; margin-bottom:0;  background:#fff;  border:1px solid #dcdcdc}
.linemap .sub_cat_list dl dd { float:left; width:50%;  border-top:1px solid #dcdcdc }
.linemap .sub_cat_list dl dd:nth-child(-n+2) { border-top:0px }
.linemap .sub_cat_list dl dd a { height:16px;  display:block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;padding:10px 0 10px 10px; font-size:12px;  }
.linemap .sub_cat_list dl dd a.active { color:#8e2b62 }
.linemap .sub_cat_list_foot { position:relative; margin:0px 10px 10px 10px; }
.linemap .sub_cat_list_foot a { padding:6px 8px; color:#777 }
.linemap .sub_cat_list_foot a img { width:11px; vertical-align: middle }
/* .linemap .cell > span:after {  content: " ▼"; font-family: 'Malgun Gothic'; color:#000; position: relative;} */
.linemap .cell > span:after {  content: ""; font-family: 'Malgun Gothic'; color:#000; position: relative;}
.linemap .cell:last-child > span.arrow { color:#8e2b62 }
.linemap .cell:last-child > span.arrow:after {  content: " ▼"; color:#8e2b62 }
.linemap .cell > span.active { font-weight:600; color:#8e2b62; padding-right:10px; }
.linemap .cell > span.active:after { content:" ▲"; font-family:'Malgun Gothic';  color:#000;  }
.linemap .cell > span.active:after { content:" ▲"; font-family:'Malgun Gothic';  color:#000;  }
.linemap .cell > span.lineActive { color:#8e2b62 }
.linemap .cell > span.noChild { color:#8e2b62}
.linemap .cell > span.lineActive:after,
.linemap .cell > span.active:after { color:#8e2b62 }
.listWrap .unit_list_02 .info .pr_box .price,
.listWrap .unit_list_02 .info .pr_box .price em { color:#3874ec !important }
.category_indicator { width:100%; position:absolute; text-align: center; margin:5px 0 }
.category_indicator li { display:inline-block; width:6px; height:6px; border-radius: 50%; background:#7b7b7b; margin:0 2px }
.category_indicator li.active { background:#8e2b62 }
.category_indicator li { vertical-align: middle; text-indent:-99999; font-size:0px; color:transparent; }

/* best item */
.best_item_container {  background:#fff; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;  }
.best_item { width:80%; margin:0 auto}
.best_item li .item_container { padding:0 10px  }
.best_item li .item_container .item_inner { border:1px solid #dcdcdc }
.best_item li .item_container figure { margin:10px 25px; height:228px; width:228px; overflow:hidden; background-size:auto 100% !important }
.best_item li .item_container .coupon { width:70px }
.best_item li .item_container .item_desc { margin-top:10px }
.best_item li .item_container .item_desc p.brnNm { height:18px; overflow:hidden; line-height: 18px }
.best_item nav { padding:10px 0 }
.best_item nav button {  width:18px; height:24px; background-position: -21px -46px; background-size: 60px auto; }
.best_item nav button.btn_control_next { background-position: -38px -46px; }
.best_item nav em { padding:0 5px; color:#9c9c9c  }
.best_item li .item_cont { padding:10px 0 }
/*.curIsSub { background:#e6e6e6 }  임시 */

.elshop_spec_mall { min-height:}
.elshop_spec_mall.notData { background:#fff }

.best_item li .item_container .item_desc p.subject { padding-right:10px; height:36px; overflow:hidden; line-height: 18px}

.listWrap { background:#fff; margin-top:10px; border-top:1px solid #dcdcdc; padding-bottom:48px }
.result_filter .selectSort { font-size:13px; ;border: 0; padding-right: 25px }
.result_filter .sort_option:before { content: "";  position: absolute; width: 13px;  height: 9px;  right: 5px;  top: 12px;  background: url(http://image.lotte.com/ellotte/mo2015/angular/mall/ralph/ellbrand_shop_cat_bleat.png) no-repeat center -1px;  background-size: 14px auto; }
.result_filter .sort_option.active:before { content:""; background-position:center -12px }
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

.ly_seelct {  background: rgba(0,0,0,.5);  position: fixed;top: 0;  width: 100%;height: 100%; z-index: 1000; }
.ly_seelct .seelct_lst { overflow: hidden;  position: absolute;  top: 50%;  left: 50%; width: 280px;  height: 172px; margin: -115px -140px;  background-color: #fff;  border-radius: 4px; }
.ly_seelct .seelct_lst header { padding: 15px 10px 10px;  -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  box-sizing: border-box;  background-color: #f6f6f6; }
.ly_seelct .seelct_lst .branch_wrap { overflow-y: scroll;height: 131px;border-bottom: 1px solid #e6e6e6;  -webkit-overflow-scrolling: touch; }
.ly_seelct .seelct_lst .btn_wrap .btn_close {   -webkit-appearance: none;  appearance: none;display: block;  width: 100%; padding: 9px;  text-align: center;  color: #333;  font-size: 13px;  border: none;  background-color: #fff;}
.ly_seelct .seelct_lst .branch_wrap li {border-bottom: 1px solid #f2f2f2;}
.ly_seelct .seelct_lst .branch_wrap li label{ display: block;position: relative;  padding: 0 20px;  font-size: 15px;color: #333;  line-height: 43px;}
.ly_seelct .seelct_lst .branch_wrap ul li input[type=radio]:checked {background-position: -35px -100px;-moz-box-apperance: none;  -webkit-appearance: none;  appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;border: none!important; }
input[type=radio], input[type=checkbox] {-moz-box-apperance: none;-webkit-appearance: none;  appearance: none;   -moz-box-sizing: border-box;  -webkit-box-sizing: border-box; box-sizing: border-box;  position: absolute;  top: 50%; right: 20px;  width: 22px; height: 22px;  border: none!important;  margin: -11px 0;  background:url(http://image.lotte.com/ellotte/mo2015/angular/common/spr_search_result.png) -10px -100px no-repeat; background-size: 200px 150px;  }

.unit_list_02 .info .pr_box .price em { color: #3874ec:}

.elshop_spec_mall .listLoading { position: relative; height: 60px; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 999999; background: rgba(0,0,0,0) }
.coupon .smart_pic,
.coupon .sale_rate { font-weight:600; font-size:18px; color:#7e1c59; display:block; text-align:center }
.coupon .sale_rate b { font-size:11px; font-weight: 400; }
.coupon .sale_rate em { display: block; font-size:11px; }
.smart_pic:after { content:""; display:inline-block; background: url(http://image.lotte.com/ellotte/mo2015/angular/common/unit_01.png) no-repeat; background-size: 95px 114px;     width: 22px;  height: 19px;  font-size: 0;  vertical-align: middle;  background-color: transparent;  background-position: -46px -39px;  background-size: 75px 90px;}

.nomarginTop { margin-top:0 }
.noData { background:#fff !important }
.unitWrap .notData { padding-bottom:0 }

.swipeContainer.singleForm { padding-bottom:30px }

/* 20170830 서브메뉴 스와이프 추가 */
.sub_open_cat_list_wap>ul { white-space: nowrap; display:table; width:100% }}  }
.sub_open_cat_list_wap>ul li { display:table-cell; }

@media screen and (min-width: 768px) {
  .cont_minheight,
  .elshop_spec_mall { min-height:1050px }
}
@media screen and ( max-width: 320px) {
  .best_item li .item_container figure { width:180px }
}
