<!--
    ## 카테고리 ppt-24p ##
    @ Action : 카고리 클릭시 포함된 테마태그 표시
-->
<div class='store_live_category bdr_top' ng-if="main_category_list.length">
    <div class='store_live_category_wrap' lotte-slider ng-if="main_category_list.length">
        <ul class='clear cate_list' slider-auto-center observer="categoryIndex">
            <li ng-repeat='item in main_category_list'
                ng-class='{active:item.disp_select_yn=="Y"}'
                ng-click='categoryActive($index)'>
                <div class='store_live_category_item'>
                    <figure>
                        <img ng-src='{{item.img_path}}' alt=''/>
                    </figure>
                    <b class='transition_all'>{{item.disp_nm}}</b>
                </div>
            </li>
        </ul>
    </div>
</div>
