<div
	class='plus_deal items_block'
	ng-if='alias.plusDeal.data&&alias.plusDeal.data.length'>
	<div
		class='deal_group'
		ng-repeat='group in alias.plusDeal.data'
		ng-if="group.text.img_url||group.text.banner_nm"
		ng-init="dealItemGroupIdx=$index">
		<h5
		 	class='bg_white'
		  	ng-click="randingURL(group.text.link_url,'',{curDispNo:tclickCode})"
			ng-bind-html="(group.text.img_ur?'<img src=group.text.img_url/>':null)||group.text.banner_nm">
		 </h5>
		 <div class='clear' ng-if="group.goods_list">
			 <div class='deal_item'
			 	ng-repeat="item in group.goods_list"
				ng-init="tcnt=($index+1)<10?'0'+($index+1):($index+1);dealItemIDIdx=$index"
				ng-class='{last_single:group.goods_list.length%2==1&&$index==group.goods_list.length-1}'
				deal-item-id="{{dealItemGroupIdx}}{{$index}}" ng-if="item.img_url_etc">
				 <div class='item_big cursor-hand' ng-if="item.img_url" ng-click="randingURL(item.link_url,'m_EL_main_SpeDisp-{{tclickCode}}_Clk_Prd_idx{{tcnt}}',{curDispNo:tclickCode})">
						<figure
							class='disp_block'
							ng-init="cimg=item.img_url.replace('_280','_420');eimg=item.img_url.replace('1_280','0')">
							<img
								itemID="[deal-item-id={{dealItemGroupIdx}}{{$index}}]"
								onError="angular.element(this).scope().removeItem(this)"
								ng-src='{{item.img_url_etc}}'
								alt={{item.brnd_nm}}/>
						</figure>
						<div class='cont'>
								<div class='cont_head table per100'>
										<span class='cont_brand cell'><b>{{item.brnd_nm}}</b></span>
										<!-- span class='cont_saleCnt cell'>
												구매중<b>{{(item.sale_rate||0)|number}}</b>
										</span-->
								</div>
								<div class='cont_body table per100'>
									<div class='cell info'>
										<span class='disp_in_block' ng-bind-html="item.goods_nm"></span>
										<p class='price_color'>{{(item.discounted_price||item.price2)|number}}<em class=''>원~</em></p>
									</div>
									<div class='cell coupon v_middle t_right'>
										<coupon class='t_center disp_in_block' ng-if="item.sale_rate">
											<p>쿠폰포함</p>
											<span>{{item.sale_rate}}<icon class='disp_in_block'>%</icon></span>
										</coupon>
									</div>
								</div>
								<!--//cont_body-->
								<article class='table per100' ng-if="isbuyState">
									<dlv class='cell sale_state t_center v_middle'>
											구매중<br>
											<b class='v_middle'>{{(item.sale_rate||0)|number}}</b>
									</dlv>
								</article>
						</div>
						<!--//cont-->
				 </div>
				 <!--//item_big-->
			</div>
			<!--//deal_item-->
		</div>
		<!--//clear-->
	</div>
	<!--//deal_group-->
</div>
