@charset "UTF-8";
body{background-color:#e9e9e9;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
select, button, input {  -webkit-appearance: none }

#wrapper{background-color:#fff}
#kshopSubHead {background:#2b2b2b}
#kshopSubHead > h2 > a {display:block;width:102px;height:22px;margin:0 auto;font-size:0;overflow:hidden}


section[sort-header]{
	transform:translateX(0) translateZ(0);
	-webkit-transform:translateX(0) translateZ(0); /*for ios*/
}

body #head_sub { border-bottom:0;border-top:1px solid #2b2b2b; }
body #head_sub .prev a:before{background:url(http://image.lotte.com/lotte/mo2015/angular/common/btn_white_w.png) no-repeat center left;background-size:19px 14px;}
body #head_sub .this a:before{background:url(http://image.lotte.com/lotte/mo2015/angular/common/ic_sns_white.png) no-repeat 0 0;background-size: 15px 16px;}

#head_sub h2 {background:#2b2b2b;color: #fff}
#head_sub h2.spec5535841 span span {background: url(http://image.lotte.com/lotte/mobile/mobile_new/brandshop/kshop/logo_kshop.png) no-repeat 0 0;background-size: 105px 22px;color: #fff;position: relative;width: 105px;height: 22px;display: block;text-indent: -9999em;margin: 0 auto;top:5px;}
#head_sub h2 span span img { vertical-align: middle; height:20px; width:auto }

button { border:0; background: transparent; }
button:focus, textarea:focus, input:focus{
    outline: none;
}
.elshop_spec_mall { min-height:550px }

/* 공통 */
h5 { text-align:center; font-weight:600; font-size:16px; padding:15px 0 10px 0; }
article, figure, em, i, u { font-style:normal; margin:0; padding:0 }
.disp_block { display:block; }
.disp_in_block { display:inline-block;}
.disp_inline { display: inline }
.cursor-hand { cursor: pointer }
.clear { zoom:1 }
.clear:after { content:""; display:block; clear:both }
.kwon:after { content:"원"; font-size:12px; display:inline-block; position: relative; font-weight:400 }
.promotionDealItem.kwon:after { content:"원~"; }
.table { display:table; height:50px;  }
.table.per100 { width:100% }
.table .cell { display:table-cell }
.table .row { display:table-row;  }
.v_middle { vertical-align: middle}
.v_top { vertical-align: top }
.v_bottom { vertical-align: bottom }
.t_center { text-align: center }
.t_right { text-align: right }
.t_left { text-align: left }
.float_left { float:left }
.float_right { float:right }
.items_block { margin-top: 10px }
.bg_white { background:#fff }
.price_color { /*color:#3874ec; */ color:#0c7eb0; font-size:19px; font-weight: 600 }
.discount_color { color:#898989; text-decoration: line-through; }
.p_rel { position:relative; }
.p_abs { position: absolute; }
/*
.price_color.kwon:after { font-size:14px; }
*/
