@charset "utf-8";

/*
    백화점 라이브 ( Store Live )
    @author : 박해원
    @date : 20170904
*/

/* 공통 */
.template_store_live article,
.template_store_live section,
.template_store_live address,
.template_store_live aside,
.template_store_live bdi,
.template_store_live details,
.template_store_live dialog,
.template_store_live figcation,
.template_store_live main,
.template_store_live mark,
.template_store_live menuitem,
.template_store_live meter,
.template_store_live nav,
.template_store_live progress,
.template_store_li
.template_store_live rt,
.template_store_live ruby,
.template_store_live summary,
.template_store_live time,
.template_store_live wbr,
.template_store_live figure { margin:0; padding:0 }
.template_store_live h3 { padding:10px 0; font-size:17px; font-weight:600; text-align: center }
.template_store_live .table { display:table }
.template_store_live .table-cell { display:table-cell }
.template_store_live .bg_white { background:#fff }
.template_store_live .margin_b_10p { margin-bottom:10px }
.template_store_live .clear:after {  content:""; display:block; clear:both }
.template_store_live .bdr_top { border-top:1px solid #d8d8de }

.brand_floating_icon { position:absolute; z-index:1; right:10px; top:10px; width:24px }
.product_list_unit_container { min-height:300px }

.transition_all {
    -webkit-transition:all ease .400ms;
    -moz-transition:all ease .400ms;
    -o-transition:all ease .400ms;
    -ms-transition:all ease .400ms;
    transition:all ease .400ms;
}
.transition_transform {
    -webkit-transition:-webkit-transform ease .400ms;
    -moz-transition:-moz-transform ease .400ms;
    -o-transition:-o-transform ease .400ms;
    -ms-transition:-ms-transform ease .400ms;
    transition:transform ease .400ms;
}
.transition_background {
    -webkit-transition:background ease .400ms;
    -moz-transition:background ease .400ms;
    -o-transition:background .400ms;
    -ms-transition:background ease .400ms;
    transition:background .400ms;
}
.transition_color {
    -webkit-transition:color ease .400ms;
    -moz-transition:color ease .400ms;
    -o-transition:color ease .400ms;
    -ms-transition:color ease .400ms;
    transition:color ease .400ms;
}
@-webkit-keyframes activeBounce {
    0% { -webkit-transform:translate(0px,0px) }
    60% { -webkit-transform:translate(0px,-15px) }
    80% { -webkit-transform:translate(0px,5px) }
    100% { -webkit-transform:translate(0px,0px) }
}
@-moz-keyframes activeBounce {
    0% { -moz-transform:translateY(0px) }
    60% { -moz-transform:translateY(-15px) }
    80% { -moz-transform:translateY(5px) }
    100% { -moz-transform:translateY(0px) }
}
@-o-keyframes activeBounce {
    0% { -o-transform:translateY(0px) }
    60% { -o-transform:translateY(-15px) }
    80% { -o-transform:translateY(5px) }
    100% { -o-transform:translateY(0px) }
}
@-ms-keyframes activeBounce {
    0% { -ms-transform:translateY(0px) }
    60% { -ms-transform:translateY(-15px) }
    80% { -ms-transform:translateY(-5px) }
    100% { -ms-transform:translateY(0px) }
}
@keyframes activeBounce {
    0% { transform:translateY(0px) }
    60% { transform:translateY(-15px) }
    90% { transform:translateY(5px) }
    100% { transform:translateY(0px) }
}
.animActiveBounce {
    -webkit-animation: flip ease .6s;
    -moz-animation: flip ease .6s;
    -o-animation: flip ease .6s;
    -ms-animation: flip ease .6s;
    animation: flip ease .6s;
}

/* wish */
.template_store_live em { position:relative; z-index:10; display:inline-block }
.template_store_live em icon { vertical-align: middle; display:inline-block; width:17px; height:15px; background:url('http://image.lotte.com/ellotte/mo2015/angular/store_live_wish.png') right center no-repeat; background-size: auto 100% }
.template_store_live em icon.active {
    background-position: left center;
    -webkit-animation:rubberBand ease .6s;
    -moz-animation:rubberBand ease .6s;
    -o-animation:rubberBand ease .6s;
    -ms-animation:rubberBand ease .6s;
    animation:rubberBand ease .6s;
}
.template_store_live count.active { color:#8e2b62 }

/* 테마 태그 */
.template_store_live .store_live_theme_tag { padding:10px 4px; border-top:1px solid #d8d8de;}
.template_store_live .store_live_theme_tag .table { width:100% }
.template_store_live .store_live_theme_tag .tag_close { height:28px; overflow:hidden; }
.template_store_live .store_live_theme_tag li {  display:inline-block; color:#000; }
.template_store_live .store_live_theme_tag li span { display:block; padding:5px 10px }
.template_store_live .store_live_theme_tag.head_tag li span {
    -webkit-transition: color ease .4s;
    -moz-transition: color ease .4s;
    -o-transition: color ease .4s;
    -ms-transition: color ease .4s;
    transition: color ease .4s;
}
.template_store_live .store_live_theme_tag.head_tag li.active span { color:#8e2b62 }
.template_store_live .store_live_theme_tag .btn_more { width:30px; vertical-align: top; }
.template_store_live .store_live_theme_tag .btn_more i {
    background-position: -262px -460px;
    background-size: 499px auto;
    display: inline-block;
    vertical-align: top;
    height: 28px;
}
.template_store_live .store_live_theme_tag .btn_more.active i { background-position: -319px -460px; }

/* 테마 태그 카테고리 전용 */
.template_store_live .store_live_theme_tag.category_only { text-align:left; border-top:0 }
.template_store_live .store_live_theme_tag.category_only > div { max-height:195px; /* 최대5줄 */ overflow:hidden }
.template_store_live .store_live_theme_tag.category_only li { background:#fff; margin:5px 3px }
.template_store_live .store_live_theme_tag.category_only li span { padding:5px 10px; border-radius: 16px; border:1px solid #ddd }
.template_store_live .store_live_theme_tag.category_only li span {
    -webkit-transition: border ease .4s;
    -moz-transition: border ease .4s;
    -o-transition: border ease .4s;
    -ms-transition: border ease .4s;
    transition: border ease .4s;
}
.template_store_live .store_live_theme_tag.category_only li.active span { font-weight:600; border-color:#7a7a7a }
.template_store_live .store_live_theme_tag.category_only .btn_more { display:none }

/* BEST 샵매니저 */
.store_live_best_shop_managers { padding:0 10px }
.store_live_best_shop_managers .shop_manager_items { padding-bottom:10px }
.store_live_best_shop_managers .shop_manager_item { position:relative; float:left; width:50%; }
.store_live_best_shop_managers .shop_manager_item .inner { position:relative; margin:10px; margin-right:0px }
.store_live_best_shop_managers .shop_manager_item figure {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position:relative;
    width:62px;
    height:62px;
    background-size:cover !important;
}
.store_live_best_shop_managers .shop_manager_item figure img { position:absolute; left:0; top:0; width:auto; height:100%; border-radius: 50%; overflow: hidden }
.store_live_best_shop_managers .shop_manager_item article { height:58px; padding:0 0 0 10px  }
.store_live_best_shop_managers .shop_manager_item article h6 { font-size:14px; overflow:hidden; height:18px }
.store_live_best_shop_managers .shop_manager_item article p { font-size:12px; height:18px; overflow:hidden }
.store_live_best_shop_managers .shop_manager_item article span { display:block; position:absolute; bottom:3px }
.store_live_best_shop_managers .shop_manager_item article span i {  }
.store_live_best_shop_managers .shop_manager_item article em icon { margin-right:3px }
.store_live_best_shop_managers .shop_manager_item .store_live_shop_manager_like { z-index:10; font-size:12px; vertical-align: middle }
.store_live_best_shop_managers .shop_manager_item .new_face {
    text-align:center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width:22px;
    height:22px;
    background:#328fb8;
    position: absolute;
    z-index:1;
    right:-4px;
    top:-6px;
}

.store_live_best_shop_managers .shop_manager_item .new_face:after {
    content: "N";
    color: #fff;
    font-weight: 600;
    position: absolute;
    line-height: 0;
    letter-spacing: 0;
    left: 50%;
    top: 50%;
    font-size:11px;
    transform: translate(-50%,-50%);
}

/* MD 추천상품 */
.store_live_md_recom { }
.store_live_md_recoms_wrap { width:67%; margin:0 auto; padding:5px 0 25px 0 }
.store_live_md_recoms_wrap .tpml_slide { white-space: nowrap }
.store_live_md_recoms_wrap .tpml_slide li { display:inline-block; width:100% }
.store_live_md_recoms_wrap .tpml_slide .store_live_md_recoms_wrap_inner { position:relative; margin:0 15px}
.store_live_md_recoms_wrap .tpml_slide .store_live_md_recoms_wrap_inner figure { position:relative; overflow:hidden;background-size:cover !important }
.store_live_md_recoms_wrap .tpml_slide .store_live_md_recoms_wrap_inner figure:after { content:""; left:0; top:0;  display:block; width:100%; position:relative; padding-top:100%}
.store_live_md_recoms_wrap .tpml_slide .store_live_md_recoms_wrap_inner span { position: absolute; bottom:0; padding:15px 0; text-align: center; display:block; width:100%; background: rgba(0,0,0,.2); color:#fff; font-size:14px; font-weight: 600; overflow:hidden; white-space: nowrap; text-overflow: ellipsis }

/* 카테고리 */
.store_live_category { background:#f4fcff }
.store_live_category_wrap { text-align:center }
.store_live_category_wrap .cate_list { white-space:nowrap }
.store_live_category_wrap .cate_list li { display:inline-block; padding:0 15px; }
.store_live_category_wrap .cate_list li b { padding:10px 0 20px 0; position:relative; text-align: center; display:block; font-size:14px; font-weight:600; color:#000; }
.store_live_category_wrap .cate_list li b:after { content:""; position:absolute; bottom:0; left:15%; right:15%; width:70%; height:3px; background:#f4fcff }
.store_live_category_wrap .cate_list li.active b { font-size:14px; font-weight:600; color:#b03d88 }
.store_live_category_wrap .cate_list li.active b:after { background:#b03d88 }
.store_live_category_wrap .cate_list li figure { display: block; width:84px; height:84px; margin:0 auto; }
.store_live_category_wrap .cate_list li figure img { overflow:hidden; width:100%; height:100%; border:1px solid #e2eaea; border-radius: 50% }
/*
.store_live_category_wrap .cate_list li.active figure {
    -webkit-animation: flip ease .4s;
    -moz-animation: flip ease .4s;
    -o-animation: flip ease .4s;
    -ms-animation: flip ease .4s;
    animation: flip ease .4s;
}
*/
/* 백화점 라이브 상단 배너 */
.store-top-banner { backgrond:#333; position:relative; height:140px; overflow:hidden }
.store-top-banner b { text-transform:uppercase; font-size:22px; color:#fff; font-weight:600;  }
.store-top-banner .slogan { z-index:1; position:absolute; width:100%; top:50%; text-align:center; display:block; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -o-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); }
.store-top-banner p { margin-top:6px; letter-spacing:-.5px; font-size:13px; color:#b5b5b5 }
.store-top-banner a { position:relative; display:block; height:140px; overflow:hidden }
.store-top-banner a img { width:100%; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%) }
.store-top-banner .full_store_image:after { content:""; position:absolute; width:100%; top:0; left:0; height:100%; background:rgba(0,0,0,.6) }

/* 최신, 인기 */
.store_live_product_sort { position:relative; text-align:right; padding:25px 15px 15px }
.store_live_product_sort span,
.store_live_product_sort em { margin-top:-1px; display:inline-block }
.store_live_product_sort span { margin:0 2px }
.store_live_product_sort span.latest { margin-right:3px }
.store_live_product_sort span.active { border-bottom:1px solid #535353 }
.store_live_product_sort em { width:14px; height:14px; position:relative; vertical-align: middle }
.store_live_product_sort em:after {
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    background:url('http://image.lotte.com/ellotte/mo2015/angular/common/ic_qMark.png') center top no-repeat;
    background-size:100% auto;
}
.store_live_product_sort em.active:after {
    background:url('http://image.lotte.com/ellotte/mo2015/angular/common/ic_qMark.png') center bottom no-repeat;
    background-size:100% auto;
}
.store_live_product_sort .whats_best { background:#fff; z-index:10; margin-top:10px; position:absolute; right:10px; max-width:280px; text-align:left; padding:15px; border:1px solid #820c58 }
.store_live_product_sort .whats_best .wb_inner { position:relative }
.store_live_product_sort .whats_best h6 { color:#333; font-size:12px; font-weight:600 }
.store_live_product_sort .whats_best p { color:#696969; padding-top:10px }
.store_live_product_sort .whats_best a { position:absolute; right:-10px; top:-7px; padding:5px; }
.store_live_product_sort .whats_best a:after{ content:""; display:block; width:12px; height:12px; background:url('http://image.lotte.com/ellotte/mo2015/angular/mall/btn_wb_close.png ') center center no-repeat; background-size:100% auto }

.store_live_product_sort .whats_best {
    -webkit-transition:-webkit-transform ease .3s;
    -moz-transition:-moz-transform ease .3s;
    -o-transition:-o-transform ease .3s;
    -ms-transition:-ms-transform ease .3s;
    transition:transform ease .3s;

    -webkit-transform:translate(120%,0);
    -moz-transform:translate(120%,0);
    -o-transform:translate(120%,0);
    -ms-transform:translate(120%,0);
    transform:translate(120%,0);
}
.store_live_product_sort .whats_best.active {
    -webkit-transform:translate(0,0);
    -moz-transform:translate(0,0);
    -o-transform:translate(0,0);
    -ms-transform:translate(0,0);
    transform:translate(0,0);
}

.storelive_page_loading {
    position:absolute;
    z-index: 50; top:0; bottom:0; left:0; right:0;
    background-color: #fff;
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0,-4px,0);
    }
}

@-webkit-keyframes rubberBand {
    from { -webkit-transform: scale3d(1, 1, 1) }
    30% { -webkit-transform: scale3d(1.25, 0.75, 1) }
    40% { -webkit-transform: scale3d(0.75, 1.25, 1) }
    50% { -webkit-transform: scale3d(1.15, 0.85, 1) }
    65% { -webkit-transform: scale3d(.95, 1.05, 1) }
    75% { -webkit-transform: scale3d(1.05, .95, 1) }
    to { -webkit-transform: scale3d(1, 1, 1) }
}
@keyframes rubberBand {
    from { transform: scale3d(1, 1, 1) }
    30% { transform: scale3d(1.25, 0.75, 1) }
    40% { transform: scale3d(0.75, 1.25, 1) }
    50% { transform: scale3d(1.15, 0.85, 1) }
    65% { transform: scale3d(.95, 1.05, 1) }
    75% { transform: scale3d(1.05, .95, 1) }
    to { transform: scale3d(1, 1, 1) }
}

@media screen and ( max-width:1200px ) {
    .store_live_best_shop_managers .shop_manager_item { width:25% }
}
@media screen and ( max-width:900px ) {
    .store_live_best_shop_managers .shop_manager_item { width:33.3% }
}
@media screen and ( max-width:500px ) {
    .store_live_best_shop_managers .shop_manager_item { width:50% }
}