
/*
	## NEW 20170426 likearts 전문관 추가 ##
*/
.elshop_spec_mall { font-size:14px; background:#e6e6e6 }

.BrandBnn { background:#fff; position:relative; margin:0 10px; }
.BnnBlock { background:#fff; }
.BrandBnn .mask { width:90%; margin:0 auto; overflow:hidden; }
.BrandBnn .btn.arrow { z-index:1; position:absolute; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%); }
.BrandBnn .btn.arrow.alpha6 { opacity:.6; }
.BrandBnn .btn.prev { left:0px; }
.BrandBnn .btn.next { right:0px; }

.ic-map { background: url(http://image.lotte.com/ellotte/mo2015/angular/common/unit_01.png) no-repeat; background-size: 50px 68px !important }
.ic-map-after:after { background: url(http://image.lotte.com/ellotte/mo2015/angular/common/unit_01.png) no-repeat }
.ic-map.arrow { width:15px; height:22px }
.ic-map.arrow.prev { background-position: -18px -44px }
.ic-map.arrow.next {  background-position: -31px -44px;}

/* 상품헤더 공통 */
h5 { text-align:center; font-weight:600; font-size:16px; padding:15px 0 10px 0; }
.product_list { border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; }

/*
	## 메인상단 배너 ##
*/
.visual  { position: relative }
.visual .more { line-height:16px; position: absolute; padding:5px 10px; background:rgba(0,0,0,.8); color:#e8e8e8; border-radius:16px; right:10px; bottom:30px; }
.visual .more em { font-size:18px; line-height: 0 }
.visual .swipeBox li { position: relative }
.visual li .content { color:#fff; width:175px; position:absolute; bottom:6px; left:0; background:rgba(0,0,0,.6); padding:15px 20px; }
.visual li .content p { opacity: .8; font-size:13px }
.visual li .content .slogan { position:relative; font-size:14px; margin-top:10px; max-height:38px; overflow:hidden; line-height: 18px}
.visual li .content.bnn_type_A { bottom:0; padding-bottom:30px; text-align:center; left:50%; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); }
.visual .more.bnn_type_A { top:10px; bottom:auto; }
.visual .side_control_btn { position:absolute; top:50%;  width:30px; height:30px;  background: url(http://image.lotte.com/ellotte/mo2015/angular/common/unit_01.png) no-repeat}
.visual .side_control_btn.is_prev { }
.visual .side_control_btn.is_next { }
.visual .swipeBox li .imgCnt { position:relative; display: block }

.mainTopBannerAll { position:fixed; top:0; z-index:9999; top:0; right:0; left:0; bottom:0; overflow-y: scroll; background:#fff }
.mainTopBannerAll .visual { padding-top:40px; height:100%; width:100%; overflow-y: scroll;  }
.mainTopBannerAll .visual  li { position:relative; }
.mainTopBannerAll h2  { position:fixed; z-index: 10; top:0; width:100%; overflow:hidden; height: 40px;  line-height: 40px;  text-align: center;  font-size: 18px;color: #fff;  font-weight: 700;background:#000; }
.mainTopBannerAll h2 a { position:absolute; right:0; top:0;width:40px; height:40px; }
.mainTopBannerAll h2 a:before,
.mainTopBannerAll h2 a:after {   content: "";  display: block;  width: 22px;  height: 1px;background-color: #fff;  position: absolute;  top: 20px;  left: 10px }
.mainTopBannerAll h2 a:before {  transform: rotate(-45deg); -webkit-transform: rotate(-45deg);  }
.mainTopBannerAll h2 a:after {  transform: rotate(45deg); -webkit-transform: rotate(45deg);  }

/* indicator */
.visual .swipe_indicator { margin:0 auto; position:static; display:table; padding:3px 0;}
.visual .swipe_indicator li { display:table-cell; width:10px; height:10px; text-align: center;vertical-align:middle }
.visual .swipe_indicator li:after { content:""; border-radius:50%; display:inline-block; vertical-align: middle; width:6px; height:6px; background:#8a8a8a;  }
.visual .swipe_indicator li.active:after { background:#000 }
.visual .swipe_indicator.bnn_type_A li.active:after { background:rgba(255,255,255,.8) }
.visual .swipe_indicator.bnn_type_A { position: absolute; bottom:0;  left: 50%; transform: translateX(-50%); }

/*
	## 금주신상 ##
*/
.weekly_new .item_list {/* width:120%*/ }
.weekly_new .item_list li { color:#333; vertical-align:top  }
.weekly_new .item_list li .item_body { padding:10px 0; width:90%; margin:0 auto; }
.weekly_new .item_list li .item_foot span { display:block; font-weight:600; }
.weekly_new .item_list li .item_foot span.black { color:#000 }
.weekly_new .item_list li .item_foot em { color:#898989; text-decoration: line-through }
.weekly_new .item_list li .item_foot em.kwon:after { font-size:11px; top:-1px; }
.weekly_new .item_list li .item_foot span.kwon:after { font-size:12px; top:-2px; }
.weekly_new .item_list li .item_content_inner { padding:15px 5px; text-align:center; vertical-align:top }
.weekly_new .item_list { background:#fff }
.weekly_new .item_list .item_content_inner figure { overflow:hidden; position:relative; padding:0; overflow:hidden; position:relative; width:100%;  }
.weekly_new .item_list .item_content_inner figure img { left:0; top:0; position:absolute }
.weekly_new .item_list .item_content_inner figure::before { content:""; display:block; padding-top:100% }
.item_list .item_body span { line-height:18px; font-size:14px; display: block; height:36px; overflow:hidden  }
.item_list .item_foot em { height:20px; display:inline-block }

.weekly_new .item_list li { width:145px; overflow:hidden; position:relative; float:none; display:inline-block; }

/* 기획전 */
.planShop .swipeContainer { width:101%  }
.planShop .swipeContainer li .swipe_inner_cont { background:#fff; margin-right:2%; border:1px solid #ddd  }
.planShop .swipeContainer li { float:left; width:50% }

.planShop .swipeContainer li .swipe_inner_cont .cont{width:76%; padding:10px 0; margin:0 auto;}
.planShop .swipeContainer li .swipe_inner_cont .cont p { margin-top:3px; line-height: 17px; font-size:13px; height: 36px;  overflow: hidden;; font-weight: 600; color:#333 }
.planShop .swipeContainer li .swipe_inner_cont .cont span { line-height: 18px; font-size:13px; font-weight: 400; color:#777; margin-top:4px; overflow:hidden; height:38px }
.planShop .swipeContainer li .swipe_inner_cont figure { overflow:hidden }
.planShop .swipeContainer li .swipe_inner_cont figure img { width:150%; -webkit-transform:translateX(-20%); transform:translateX(-20%);}
.planShop .cont { padding:0 10px }

/* hot한 신상품 */
.hot_newProdict { border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; }
.hot_newProdict .item_list li { float:left; width:50%; overflow:hidden; }
.hot_newProdict .item_list li:nth-child(2n+1) .item_content_inner { padding-left:10px }
.hot_newProdict .item_list li:nth-child(2n+0) .item_content_inner { padding-right:10px }
.hot_newProdict .item_list li .item_content_inner { padding:15px 5px }
.hot_newProdict .item_list li .item_content_inner figure { position:relative; overflow:hidden }
.hot_newProdict .item_list li .item_content_inner figure:before { content:""; display:block; padding-top:100%; }
.hot_newProdict .item_list li .item_content_inner figure:after { content:""; position:absolute; width:100%; height:100%; border:1px solid #ddd; top:0; left:0; -webkit-box-sizing:border-box;  -moz-box-sizing:border-box;  -ms-box-sizing:border-box;  box-sizing:border-box; }
.hot_newProdict .item_list li .item_content_inner figure img { position:absolute; width:100%; height:auto; left:0; top:0  }
.hot_newProdict .item_list li .item_content_inner .item_body { padding:10px 0 5px 0 }
.hot_newProdict .item_list li .item_content_inner .item_foot { letter-spacing: -1px }
.hot_newProdict .item_list li .item_content_inner .item_foot .kwon:after { bottom:1px }

/* 이슈 아이템 */
.hot_issue .item_group .item_big { position:relative; }
.hot_issue .item_group .big_plan_cont { position:absolute; width:100%; bottom:0; color:#fff }
.hot_issue .item_group .big_plan_cont p { font-size:16px; font-weight: 600 }
.hot_issue .item_group .big_plan_cont span { font-size:14px; margin-top:5px; max-height:37px; overflow:hidden; line-height:18px }
.hot_issue .item_group .big_plan_cont .big_plan_cont_innner { width:70%; margin:0 auto; padding:15px 10px; background:rgba(0,0,0,.6) }
.hot_issue .item_list { padding-top:17px; /*width:110%; margin-left:-5%;*/ }
.hot_issue figure img { border-radius: 50%; border:2px solid #ddd }

/* 플러스 딜 */
.plus_deal figure { border-top:1px solid #ddd; border-bottom:1px solid #ddd; max-height:240px; overflow:hidden }
.plus_deal .item_big { position:relative }
.deal_group { border-bottom:1px solid #dcdcdc }
.plus_deal .cont_brand { font-size:14px; font-weight:600; }
.plus_deal .cont_brand b { line-height: 16px; display:block; height:20px; overflow:hidden;  word-break: break-all; }
.plus_deal .cont_saleCnt { color:#333; font-size:10px; width:55px; text-align: right }
.plus_deal .cont_saleCnt b { font-size:12px; margin-left:1px }
.plus_deal .deal_item { background:#fff }
.plus_deal .cont { padding:10px 15px; height:81px }
.plus_deal .cont sale_state { font-size:11px }
.plus_deal .cont article { background: #fff; position:absolute; top:15px; right:15px;  width:66px; height:66px; border-radius: 50%; border:1px solid #ddd }
.plus_deal .cont article .sale_state { font-size:11px }
.plus_deal .cont article b { font-size:14px }
.plus_deal .cont_body { padding:6px 0 }
.plus_deal .cont_body .coupon { width:55px }
.plus_deal .cont_body .info p { margin-top:2px }
.plus_deal .cont_body .info p em { position:relative; top:-2px;font-size:14px; font-weight:400 }
.plus_deal .cont_body .info span { line-height: 18px; height:18px; overflow:hidden }
.plus_deal .table { height:auto }
.plus_deal coupon p { color:#999; font-size:10px }
.plus_deal coupon span {font-size:18px; line-height: 18px }
.plus_deal coupon span icon { font-size:14px; margin-left:1px }

/*
	## 공지 ##
*/
.notice_banner { background:#fff; padding:10px 0  }
.notice_banner .notice_container { padding:0 10px; background:#f3edf0; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; }
.notice_banner .notice_title { font-size:16px; color:#943b71; width:60px }
.notice_banner .notice_cont { height:50px; overflow:hidden }
.notice_banner .notice_button { width:35px }
.notice_banner date { width:87px; color:#757575 }
.notice_banner content { color:#767676 }
.notice_banner content b { height:18px; display:block; font-weight:400; overflow:hidden; line-height: 18px}

.arrow:after { content:""; vertical-align:middle; background:url('http://image.lotte.com/ellotte/mo2015/angular/mall/ralph/ellbrand_shop_cat_notice_arrow.png') no-repeat; background-size:15px auto }
.arrow.up:after{ content:""; display:inline-block; overflow:hidden; width:20px; height:12px; background-position:center -11px; margin-top:1px; }
.arrow.down:after{ content:""; display:inline-block; overflow:hidden; width:20px; height:12px; background-position:center 1px; margin-bottom:1px; }
.BnnBlock { padding:10px 0; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9 }
.BnnBlock .BrandBnn li { position: relative; width:130px }
.BnnBlock .BrandBnn li:after { content:""; width:1px; height:20px; background:#dcdcdc; position:absolute; right:0px; top:50%; margin-top:-10px;}
.BnnBlock .BrandBnn li a { display:block; padding:0 5px }

.BnnBlock .BrandBnn .brand_plane_b li:after{ height:30px; margin-top:-15px }
.BnnBlock .BrandBnn .brand_plane_b li:last-child:after{  display:none }
/*
	## MD TIP ##
*/
.md_tip { border-top:1px solid #ddd }
.md_tip .table { height:auto }
.md_tip .table .cell { padding:0 10px }
.md_tip .md_tip_group { }
.md_tip .md_tip_group .md_tip_item { padding:10px; border-top:1px solid #ddd }
.md_tip .md_tip_group .md_tip_item.no_border { border-top:0 }
.md_tip .md_tip_group .md_tip_item .cont { vertical-align: middle }
.md_tip .md_tip_group .md_tip_item .table .cell { width:50% }
.md_tip .md_tip_group .md_tip_item figure img { width:100%; height:auto }
.md_tip .md_tip_group .md_tip_item .cont_head span { font-weight:600; padding:5px; background:#444; color:#fff }
.md_tip .md_tip_group .md_tip_item .cont_body { margin:5px 0; vertical-align: middle; }
.md_tip .md_tip_group .md_tip_item .cont_body span { color:#777; line-height: 18px; overflow:hidden; height:37px; display:block; word-break: break-all; }
.md_tip .md_tip_group .md_tip_item .cont_body p { margin-top:10px; height:20px; overflow:hidden; }
.md_tip .md_tip_group .md_tip_item .cont_body em { color:#333; display:block; overflow:hidden; height:37px; line-height: 18px }
.md_tip .md_tip_group .md_tip_item .cont_foot em { font-weight:400; font-size:14px }


/*
    ## 핫 이슈 ##
*/
.hot_issue {}


/*
    ## 특별한 이야기 ##
*/
.is_star { width:100%; height:10px; background:url('http://image.lotte.com/lotte/mo2015/angular/common/ic_unit_score_2x.png') left center no-repeat;  background-size: 60px 10px !important }
.is_star.on { background:url('http://image.lotte.com/lotte/mo2015/angular/common/ic_unit_score_2x_on.png') left center no-repeat }
.star_container { width:60px; height:10px }
.star_container u { overflow: hidden; height:10px; vertical-align: top }
.special_story .recom { color:#999 }
.special_story h5 { padding-bottom:0 }

#footer:before { display:none }

.mask.item_brd_len2 { width:100%; margin:0 }
.mask.brand_plane_b ul { display:table}
.mask.item_brd_len2 li { display:table-cell; width:50%; position:relative }
.mask.item_brd_len1 li { max-height:30px; text-align: center; display:table-cell; width:100%; position:relative }
.mask.item_brd_len1 li img { width:auto; max-height:3 }
.elshopbrand_swipe { width:92%!important; margin:0 4%; overflow:hidden }
.brandBnn_swipe ul { height:31px; }
.brandBnn_swipe { width:99%; overflow:hidden }
.brandBnn_swipe ul li a img { width:auto; max-height:29px }
.BnnBlock .BrandBnn li a { text-align:center }

/* 20170831 브랜드배너 3개만 있을시 오류로 추가 */ 
.elshopbrand_swipe.brand_bold ul { width:100%; white-space:nowrap }
.elshopbrand_swipe.brand_bold ul li { width:33.5%; display:inline-block }

@media screen and ( min-width:320px) {
    .brandBnn_swipe ul { height:26px }
    .brandBnn_swipe ul li a img { max-height:24px }
}

@media screen and ( max-width:340px ) {
  .item_list .item_foot em { font-size:12px; line-height: 20px }
  .hot_newProdict .item_list li .item_content_inner .item_foot span.price_color { font-size:16px; }
  .weekly_new .item_list li .item_foot span, .plus_deal .cont_body .info p, .md_tip .md_tip_group .md_tip_item .table .cell .cont_foot span { font-size:16px }
}

@media screen and (min-width: 640px) {
  .deal_item { float:left; width:50% }
  .deal_item.last_single { width:100% }
  .md_tip .md_tip_group .md_tip_item { padding:0 50px }
}

@media screen and (min-width: 768px) {
  .cont_minheight,
  .elshop_spec_mall { min-height:1050px }
  .brandBnn_swipe ul { height:58px; }
  .brandBnn_swipe ul li a img { max-height:55px }
}

/*   몽블랑 하드코딩 추가된 부분   */
.montblanc-list img { vertical-align: top; width: 100%; height: auto;}
.montblanc-list .txt-box {color: rgb(255, 255, 255);background-color: rgb(34, 34, 34);position: relative;
    padding: 20px 20px 50px 20px;}
.montblanc-list .tit {display:block; font-size: 19px;line-height: 1.4em; overflow: hidden;}
.montblanc-list .desc {display:block;margin-top: 12px;font-size: 13px; color: #ccc;line-height: 1.4em; overflow: hidden; }
/*  // 몽블랑 하드코딩 추가된 부분   */