<div class="store_sub_shop_info">
    <div>
        <div class="table">
            <div class="cell shop_logo_container" ng-click="goShop()">
                <figure class="shop_logo">
                    <span>
                        <img ng-src="{{shop_detail.shop_logo_img_path_nm}}" alt="{{shop_detail.brch_nm}}"/>
                    </span>
                </figure>
            </div>
            <div class="cell shop_name" ng-click="goShop()">
                <h3>{{shop_detail.brnd_nm||shop_detail.brch_nm}}</h3>
                <p>
                    {{shop_detail.brch_nm}}
                </p>
            </div>
            <div class="cell wish_count">
                <figure class="wish" ng-click="addShop()" ng-class="{active:shopWishState}"></figure>
                <p>{{shop_detail.shop_rgl_cust_cnt | number}}</p>
            </div>
        </div>
    </div>
    <div class="msg">백화점 영업시간 내에만 매장 문의가 가능합니다.</div>
    <div class="table shop_info_foot">
        <div class="cell shop_th">
            <p>영업 시간</p>
            <p>매장 연락처</p>
        </div>
        <div class="cell">
            <p>{{shop_detail.biz_strt_time}} ~ {{shop_detail.biz_end_time}}</p>
            <p ng-click="called(shop_detail.shop_ctfc_no)">{{shop_detail.shop_ctfc_no}}</p>
        </div>
    </div>
</div>