<div class="store_sub_header">
    <style>
        .full_image_container .swipeBox { width:{{goods_img_list.length*100}}% !important }
    </style>
    <div
        class="full_image_container"
        ng-class="{imgonloadComplete:imgloaded}">
        <div class="detail_imges_list"
             ng-if="goods_img_list.length"
             roll-swipe-banner
             width320="1"
             width640="1"
             width900="1"
             endfnc="siwpeEnd"
             style="height:{{hold_img_height}}px">
            <ul class="swipeBox" resize-block>
                <li ng-repeat="item in goods_img_list">
                    <img
                        img-index="{{$index}}"
                        ng-src="{{item.conts_file_path_nm}}"
                        alt=""/>
                </li>
            </ul>
        </div>
        <div class="store_sub_header_in_foot">
            <ol class="bullet indicator" ng-if="goods_img_list.length>1">
                <li ng-repeat="item in goods_img_list"
                    ng-class="{active:$index==swipeIndex}">
                </li>
            </ol>
            <div class="info">
                <div class="action_button">
                    <span class="wish"
                          ng-click="addWish()"
                          ng-class="{active:wishSaved}"
                          ng-if="sub_head_data.goods_no&&!sub_head_data.is_sold_out"></span>
                    <span class="share"
                          ng-click="shareFunc({shareImg:goods_img_list[0].conts_file_path_nm,shareTitle:sub_head_data.goods_nm,tclick:tclickCode})"></span>
                </div>
                <div class="price table">
                    <div class="cell">
                        <span class="discount">
                            <em>{{(sub_head_data.disc_sale_prc || sub_head_data.org_sale_prc) | number}}</em>원
                        </span>
                        <span class="original"
                              ng-if="sub_head_data.org_sale_prc&&sub_head_data.org_sale_prc>sub_head_data.disc_sale_prc">
                            <em>{{sub_head_data.org_sale_prc | number}}</em>원
                        </span>
                    </div>
                    <div class="cell disc_no"
                         ng-if="sub_head_data.sale_rate">
                        <span>
                            <em>{{sub_head_data.sale_rate}}</em>%
                        </span>
                    </div>
                </div>
                <h3 class="product_name">
                    {{sub_head_data.goods_nm}}
                    <span class="store_icon"
                          ng-if="sub_head_data.best_yn=='Y'">best</span>
                </h3>
            </div>
        </div>

        <div class="detail_image_loading" ng-if="detail_image_loading">
            <p class="loading half"></p>
        </div>
    </div>

    <div class="content" ng-if="sub_head_data.shop_aemp_txt_cont">
        {{sub_head_data.shop_aemp_txt_cont}}
    </div>

    <div class="fix_buttons table"
         ng-if="sub_head_data">
        <div class="cell big"
             ng-class="{call:(!sub_head_data.goods_no||sub_head_data.is_sold_out),buy:(sub_head_data.goods_no&&!sub_head_data.is_sold_out)}"
             ng-click="(sub_head_data.goods_no&&!sub_head_data.is_sold_out)?productView():called()">
            <span
                class="call_in"
                ng-if="sub_head_data.goods_no&&!sub_head_data.is_sold_out">
                <img ng-src="http://image.lotte.com/ellotte/mo2015/angular/mall/store_live_icon_cart.png" alt=""/>구매하러가기
            </span>
            <span
                class="buy_in"
                ng-if="!sub_head_data.goods_no||sub_head_data.is_sold_out">
                    <img src="http://image.lotte.com/ellotte/mo2015/angular/mall/store_live_icon_phone.png " alt=""/>전화 문의
            </span>
        </div>
        <div class="cell talk"
             ng-if="shop_kakao"
             ng-click="csTalk()">
            <span><img ng-src="http://image.lotte.com/ellotte/mo2015/angular/mall/kakatalk_icon.png" alt=""/>톡상담</span>
        </div>
    </div>

</div>