<div ng-if='alias.newHotProduct.data&&alias.newHotProduct.data.length'>
	<div
		class='hot_newProdict items_block bg_white'
		ng-repeat='group in alias.newHotProduct.data'>
		<h5
		 		class='bg_white'
		  	ng-click="randingURL(group.text.link_url,'')"
		  	ng-bind-html="(group.text.img_url?'<img ng-src=group.text.img_url/>':null)||group.text.banner_nm">
		 </h5>
		<div class='item_list'>
			<ul class='clear'>
			  <li ng-repeat="item in group.goods_list" ng-init="tcnt=($index+1)<10?'0'+($index+1):($index+1);prod_no=(group.conr_set_disp_prio_rnk+1)">
				  <div
						class='item_content_inner cursor-hand'
						ng-click="randingURL(item.link_url, 'm_EL_main_SpeDisp-{{tclickCode}}_Clk_Prd{{prod_no}}_N{{tcnt}}', {curDispNo:tclickCode} )">
						<figure>
							<img ng-src="{{item.img_url}}"/>
					 	</figure>
	        			<div class='item_body'>
		          			<span>[{{item.brnd_nm}}]{{item.goods_nm}}</span>
		        		</div>
			        	<div class='item_foot'>
			         		<em class='discount_color v_bottom disp_in_block' ng-class='{kwon:item.original_price}'>{{item.original_price?(item.original_price|number):""}}</em>
			          		<span class='kwon price_color v_bottom disp_in_block'>{{(item.discounted_price|number)||item.price2}}</span>
			        	</div>
				 </div>
			  </li>
			</ul>
		</div>
	</div>
</div>
